@font-face {
  font-family: "CalamityRegular";
  src: url('../src/Assets/font/CalamityRegular.otf');
}

@font-face {
  font-family: "CourierStd";
  src: url('../src/Assets/font/CourierStd.otf');
}
@font-face {
  font-family: "CourierStdLight";
  src: url('../src/Assets/font/CourierStdLight.otf');
}
@font-face {
  font-family: "CalamityOutline";
  src: url('../src/Assets/font/CalamityOutline.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #000;
  font-size: 18px;
  line-height: 1.3;
  font-family: "CourierStd" !important;
}
.pf-family{
  font-family: "CourierStd" !important;
  letter-spacing: 2px;
  color: #000;
}
strong{
  color: #000;
}

.white-txt{
  color: #fff;
}
.black-txt{
  color: #000;
}
.blue-span{
  background: #0031ff;
}
.red-span{
  background: #eb3323;
}

h1,h2,h3,h4,h5,h6{
  font-family:"CalamityRegular";
}
h1{
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 500;
}
h3{
  font-size: 2.5rem;
  letter-spacing: 3px;
}

body h2{
  font-size: 40px;
  color: #000000;
  letter-spacing: 2px;
}

h4{
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

h5{
  font-size: 17px;
  letter-spacing: 1px;
}
h6{
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bolder;
}
.red-txt{
  color:#eb3323;
}
.white-txt{
  color: #fff;
}
.light-txt{
  font-family: "CourierStdLight";
}

.container-wrap {
  max-width: 1250px;
  padding: 0px 20px;
  margin: auto;
}
img{
  width: 100%;
}

span{
  background: #eb3323;
  border-radius: 7px;
  padding: 2px;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Courier Std";
 }
 input::placeholder {
  font-family: 'CourierStd';
  color: #000;
  font-size: 18px;
}

.outline-txt{
  font-family: "CalamityOutline";
}